/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

h1 {
  color: black;
  font-family: "Playfair Display";
  font-weight: bold;
}
p {
  font-family: "Poppins";
  font-weight: normal;
}
